.ios,.md,.wp{
  page-user-signup {
    .toolbar-background{ background:transparent; border-style:none;}
    .toolbar::after,.header-md::after{ background-image:none;}
    ion-content{
      background-color:color($colors,primary);
       background-image:url('../assets/images/bg-pattern.png');
       background-size:100% auto;
    }
    //.scroll-content { display: table; width: 100%; height: 100%; }
    //.centerAlign { display: table-cell; vertical-align: middle; }

    .item{border:$border-color 1px solid !important; margin-bottom:10px;}
    .error{
    color: #86181d;
    background-color: #ffdce0;
    border-color: #cea0a5;  
    }

  .msg{
    position: absolute;
    z-index: 10;
    display: block;
    max-width: 450px;
    padding: 5px 8px;
    margin: 4px 0 0;
    font-size: 13px;
    font-weight: 400;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}
  }
}
